<div id="contact" class="p-24" fxLayout="row wrap">
    <div class="contact-content" fxLayout="column" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="100">
        <div class="profile-box info-box general" fxLayout="column">

            <header class="primary">
                <div class="title">Informações Gerais</div>
            </header>

            <div class="content">

                <div class="info-line">
                    <div class="title">Nome</div>
                    <div class="info"></div>
                </div>

                <div class="info-line">
                    <div class="title">Email</div>
                    <div class="info"></div>
                </div>

                <div class="info-line">
                    <div class="title">Aniversário</div>
                    <div class="info"></div>
                </div>
            </div>
        </div>
    </div>
</div>