<div id="academy-courses" class="page-layout simple full-width">

    <!-- HEADER -->
    <div class=" header teal-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="text-center mb-32 hero-text">
            <mat-icon class="hero-icon"><img src="assets/images/logos/logos.png"></mat-icon>
            
            <h2>Este projeto foi desenvolvido para a mostra de talentos do Entra21 de 2019, utilizando NetCore 2.2 e
                Angular 8 , com o intuito de facilitar a busca por montanhas e aventuras em Santa Catarina</h2>
            <h3>Time composto por: Gustavo Manoel , Matheus Donato , Nathan Alves , André Hinckel e Eduardo W. </h3>

        </div>

    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters " fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row">


                <div class=" m-4 p-12 fuse-card">

                    <img src="assets/images/profile/andre.jpg">

                    <div class="p-16">
                        <div class="h1">André Hinckel</div>
                        <div class="h4 secondary-text">GitHub André Hinckel</div>
                    </div>

                    <div class="p-16 pt-0 line-height-1.75">
                        <h4>Instagram: @andrehinckel</h4>
                        <h4>Linkedin: André Hinckel</h4>
                        <h4>Email: andrehinckel@gmail.com</h4>
                    </div>

                </div>
                <div class=" m-4 p-12 fuse-card">

                    <img src="assets/images/profile/natan.jpg">

                    <div class="p-16">
                        <div class="h1">Nathan Alves</div>
                        <div class="h4 secondary-text">GitHub @NathanMMAlves</div>
                    </div>

                    <div class="p-16 pt-0 line-height-1.75">
                        <h4>Instagram: @nathanmma</h4>
                        <h4>Linkedin: Nathan Micael</h4>
                        <h4>Email: nathanalves001@gmail.com</h4>
                    </div>

                </div>


                <div class=" m-4 p-12 fuse-card">

                    <img src="assets/images/profile/edu.jpg">

                    <div class="p-16">
                        <div class="h1">Eduardo Wehrmeister</div>
                        <div class="h4 secondary-text">GitHub @EduardoGabrielWehrmeister</div>
                    </div>

                    <div class="p-16 pt-0 line-height-1.75">
                        <h4>Instagram: @duu_za1w</h4>
                        <h4>Linkedin: Eduardo Wehrmeister</h4>
                        <h4>Email: dudu245@live.com</h4>
                    </div>
                </div>
                <div class=" m-4 p-12 fuse-card">

                    <img src="assets/images/profile/gu.jpg">

                    <div class="p-16">
                        <div class="h1">Gustavo Manoel</div>
                        <div class="h4 secondary-text">GitHub @ManoelGustavo77</div>
                    </div>

                    <div class="p-16 pt-0 line-height-1.75">
                        <h4>Instagram: @manoelgustavo_</h4>
                        <h4>Linkedin: Gustavo Manoel da Silva</h4>
                        <h4>Email: dgustavomanoel@gmail.com</h4>
                    </div>

                </div>
                <div class=" m-4 p-12 fuse-card">

                    <img src="assets/images/profile/dontao.jpg">

                    <div class="p-16">
                        <div class="h1">Matheus Donato</div>
                        <div class="h4 secondary-text">GitHub @MatheusDonato</div>
                    </div>

                    <div class="p-16 pt-0 line-height-1.75">
                        <h4>Instagram: @DonatoMatheus</h4>
                        <h4>Linkedin: Matheus Donato</h4>
                        <h4>Email: donatomatheus@gmail.com</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>