<div class="page-layout blank hero-text" fusePerfectScrollbar>
    <div class="header">
        <mat-icon class="hero-icon"><img src="assets/images/logos/logos.png"></mat-icon>

        <h1 class="h1"> Bem vindo a MontUp </h1>
        <h2 class="h2"> Conhecer a natureza nunca esteve tão fácil</h2>
    </div>
    <caurousel-principal></caurousel-principal>

    <h1 class="text-center">Comentários recentes dos aventureiros sobre as montanhas em que passaram.</h1>
    <ul class="timeline">
        <li *ngFor="let comentario of comentarios; let i = index" [className]="i % 2 == 1 ? 'timeline-inverted' : ''">
            <div class="timeline-badge">   
                    <img class="circle icon-edit" src="{{baseUrl}}/imagemmontanha/obterimagem?montanhaId={{comentario.montanha.id}}"
                     [routerLink]="'/montanha/perfil-montanha/' + comentario.montanha.id" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" >
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    
                    <div class="timeline-title">{{comentario.usuario.userName}} comentou sobre - 
                        {{comentario.montanha.nome}}
                    </div>
                    <p class="text-data">{{comentario.dataComentario}}</p>
                </div>
                <div class="timeline-body">
                    <p>{{comentario.comentarioTexto}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>