@import "src/@fuse/scss/fuse";

.header {
  position: relative;
  flex: 1 0 auto;
  height: 270px;
  max-height: 270px;
  text-align: center;
  overflow: hidden;
  color: azure;
  background: linear-gradient(to right, rgba(23, 122, 139, 0.87) 20%, rgb(29, 190, 137) 100%);  


  @include media-breakpoint("xs") {
    height: 240px;
    padding: 16px;
  }

  
    .hero-icon {
        margin-top: 18px;
      top: -15px;
      left: 650px;
      width: 140px !important;
      height: 140px !important;
    }

  

  .content {
    .category-selector {
      min-width: 320px;
    }

    .filters {
      width: 100%;
      max-width: 1040px;
      margin: 24px auto;
      padding: 0 20px;

      @include media-breakpoint("xs") {
        margin: 0 auto;
      }

      .course-search {
        width: 320px;

        @include media-breakpoint("gt-xs") {
          margin-right: 16px;
        }
      }
    }

    .courses {
      width: 100%;
      max-width: 1040px;
      margin: 0 auto;

      .no-courses {
        font-size: 24px;
        margin: 24px 0;
        text-align: center;
      }

      .course {
        padding: 16px;

        &:hover {
          .course-content {
            border: none;
            @include mat-elevation(12);
          }
        }

        .course-content {
          min-height: 240px;
          border-radius: 4px;
          overflow: hidden;
          transition: box-shadow 200ms ease-in-out;
          @include mat-elevation(1);

          .header2 {
            padding: 16px 24px;
            height: 40px !important;
            min-height: 40px !important;
            max-height: 40px !important;
            background: linear-gradient(to right, rgba(0, 112, 75, 0.548) 25%, rgb(75, 184, 142) 100%);
            color: azure;

            &.web-bg {
              background: mat-color($mat-blue, 500);
            }

            &.android-bg {
              background: mat-color($mat-green, 500);
            }

            &.firebase-bg {
              background: mat-color($mat-amber, 800);
            }

            &.cloud-bg {
              background: mat-color($mat-blue-grey, 500);
            }

            .category {
              text-transform: capitalize;
              text-align: left;
              font-weight: 600;
            }

            .length {
              .length-icon {
                margin-right: 8px;
              }

              .min {
                font-size: 16px;
              }
            }
          }

          .content {
            padding: 24px;

            .h1 {
              font-size: 16px;
              text-align: center;
            }

            .updated {
              font-size: 13px;
              font-weight: 600;
              margin-top: 4px;

              .course {
                padding: 16px;

                &:hover {
                  .course-content {
                    border: none;
                    @include mat-elevation(12);
                  }
                }

                .course-content {
                  min-height: 240px;
                  border-radius: 4px;
                  overflow: hidden;

                  transition: box-shadow 200ms ease-in-out;
                  @include mat-elevation(1);

                  .header2 {
                    color: azure;
                    padding: 16px 24px;
                    height: 40px !important;
                    min-height: 40px !important;
                    max-height: 40px !important;
                    background: linear-gradient(to left, rgb(110, 158, 187) 0%, rgba(74, 67, 182, 0.452) 100%);
                    &.todos-bg {
                      background: mat-color($mat-blue, 500);
                    }

                    &.android-bg {
                      background: mat-color($mat-green, 500);
                    }

                    &.firebase-bg {
                      background: mat-color($mat-amber, 800);
                    }

                    &.cloud-bg {
                      background: mat-color($mat-blue-grey, 500);
                    }

                    .category {
                      text-transform: capitalize;
                      text-align: left;
                      font-weight: 600;
                    }

                    .length {
                      .length-icon {
                        margin-right: 8px;
                      }

                      .min {
                        font-size: 16px;
                      }
                    }
                  }

                  .content {
                    padding: 24px;

                    .h1 {
                      font-size: 16px;
                      text-align: center;
                    }

                    .updated {
                      font-size: 13px;
                      font-weight: 600;
                      margin-top: 4px;
                    }
                  }

                  .footer {
                    padding: 16px;
                    height: 48px !important;
                    min-height: 48px !important;
                    max-height: 48px !important;
                    color: azure;
                  }
                }
              }
            }

            .footer {
              padding: 16px;
              height: 48px !important;
              min-height: 48px !important;
              max-height: 48px !important;
              color: azure;
            }
          }
        }
      }
    }
  }
}

.timeline {
  position: relative;
  margin: 10px;
  padding: 20px 0 20px;
  list-style: none;
}

.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: rgb(0, 0, 0);
}

.timeline > li {
  position: relative;
  margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 3px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 6px 12px #d4d4d4;
  background-color: rgb(255, 255, 255);
}

.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 14px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
  
}

.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  

  
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline-badge.primary {
  border: 1px solid teal;
  border-radius: 2px;
}

.timeline-badge.success {
  border: 1px solid teal;
  border-radius: 2px;
}

.timeline-badge.warning {
  border: 1px solid teal;
  border-radius: 2px;
}

.timeline-badge.danger {
  border: 1px solid teal;
  border-radius: 2px;
}

.timeline-badge.info {
  border: 1px solid teal;
  border-radius: 2px;
}

.timeline-title {
  margin-top: 0;
  color: teal;
  font-size: 25px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
  font-size: 20px;

}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
    
  }

  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }

  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}

.circle {
    border-radius: 50px;
    width: 86px;
    height: 86px;
    border: 3px solid black;
    transition: opacity 120ms linear;
    cursor: pointer;
}

.text-data{
    margin-top:-2px;
}
