<div class="demo-sidebar">
  <mat-list>
    <h4 matSubheader>Filtros</h4>

    <mat-list-item>
      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <select matNativeControl>
            <option>---</option>
          <option value="option1">Blumenau</option>
          <option value="option2">Itajai</option>
          <option value="option3">Gaspar</option>
          <option value="option4">Itapema</option>
        </select>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
     
      <mat-form-field>
        <mat-label>Montanha</mat-label>
        <select matNativeControl>
          <option>---</option>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
      </mat-form-field>
    </mat-list-item>


    <mat-list-item>
      <mat-form-field>
        <input matInput type="number" min="18" placeholder="Idade">
      </mat-form-field>
    </mat-list-item>



  </mat-list>
</div>