mail-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    border-right: 1px solid;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .no-messages-text {
        font-size: 24px;
        font-weight: 300;
    }

    .mail-list {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 10;
    }
}
