<div id="contact" class="p-24" fxLayout="row wrap">
    <div class="contact-content" fxLayout="column" fxFlex="50" fxFlex.gt-sm="500">
        <div class="profile-box info-box contact" fxLayout="column">

            <div class="mat-card">
                <div class="p-16" fxLayoutAlign="center center">
                    <div class="h1 teal-fg">{{montanha.nome}}</div>
                </div>
                <div class="p-16 pt-0 line-height-1.75">
                    {{montanha.descricao}}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact">
    <div class="contact-content p-24" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        <app-carousel #carousel
            [id]="id"
        ></app-carousel>
    </div>
</div>
