<div id="contact">
    <div class="contact-content p-24" fxLayout="column " fxFlex="38,5" fxFlex.gt-sm="38,5" fxFlex.gt-md="38,5">
        <div class="mat-card">
            <div class="p-16">
                <div class="h1 teal-fg">Informações Técnicas</div>
            </div>
            <div class="p-16 pt-0 line-height-1.75">
                <div class="h3">Altitude: {{montanha.altitude}}m</div>
                <div class="p-16 pt-0 line-height-1.75">
                </div>
                <div class="h3">Extenção: {{montanha.extensao}}Km</div>
                <div class="p-16 pt-0 line-height-1.75">
                </div>
                <div class="h3">Duração: {{montanha.duracao | date: 'HH'}} Horas</div>
                <div class="p-16 pt-0 line-height-1.75">
                </div>
                <div class="h3">Nível: {{montanha.nivel}}</div>
                <div class="p-16 pt-0 line-height-1.75">
                </div>
            </div>
        </div>
    </div>
    <div class="contact-content p-24" fxLayout="column" fxFlex="61,5" fxFlex.gt-sm="61,5" fxFlex.gt-md="61,5" *ngIf="montanha.id != 0">
        <div class="mat-card">
            <agm-map [latitude]="montanha.latitude" [longitude]="montanha.longitude" [zoom]="zoom">
                <agm-marker [latitude]="montanha.latitude" [longitude]="montanha.longitude"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>