<ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems" >
    <ngu-tile *nguCarouselDef="let item; let i = index" >

        <ngu-carousel #myCarousel [inputs]="carouselTile"
            [dataSource]="carouselTiles[i]">
            <ngu-tile *nguCarouselDef="let item; let j = index">
                <div class="tile" [style.background]="'url(' + item + ')'" style="max-height: 700px">
                </div>
            </ngu-tile>
            <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
            <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
        </ngu-carousel>

    </ngu-tile>

</ngu-carousel>