<div id="registrousuario" fxLayout="column">

    <div id="registrousuario-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="registrousuario-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo.png">
            </div>

            <div class="title">Crie sua conta</div>

            <form name="registrousuarioForm" [formGroup]="registrousuarioForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Digite o nome !
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Sobrenome</mat-label>
                    <input matInput formControlName="sobrenome">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Sobrenome é necessario !
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registrousuarioForm.get('email').hasError('required')">
                        Email é necessário !
                    </mat-error>
                    <mat-error *ngIf="registrousuarioForm.get('email').hasError('email')">
                        Por favor ensira um email válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Senha é necessária !
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha (Repita a senha)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registrousuarioForm.get('passwordConfirm').hasError('required')">
                        A confirmação da senha é necessária !
                    </mat-error>
                    <mat-error *ngIf="!registrousuarioForm.get('passwordConfirm').hasError('required') &&
                                       registrousuarioForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        As senhas devem corresponder !
                    </mat-error>
                </mat-form-field>

              <!--  <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="I read and accept" required>
                        <span>Eu aceito os termos</span>
                    </mat-checkbox>
                    <a href="#">termos e condições.</a>
                </div> -->

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registrousuarioForm.invalid" (click)="cadastrarUsuario()">
                    CRIE SUA CONTA
                </button>

            </form>

            <div class="registrousuario" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Já tem uma conta ?</span>
                <a class="link" [routerLink]="'/autenticacao/login'">Login</a>
            </div>

        </div>

    </div>

</div>
