<div id="contact" class="p-24" fxLayout="row wrap">
    <div class="contact-content" fxLayout="column" fxFlex="50" fxFlex.gt-sm="500">
        <div class="profile-box info-box contact" fxLayout="column">

            <header class="primary">
                <div class="title">Informações Gerais</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Sobre mim: {{guia.descricaoGuia}}</div>
                </div>
            </div>

            <div class="content">
                <div class="info-line">
                    <div class="title">Ocupação: {{guia.ocupacao}} </div>
                </div>
            </div>

            <div class="content">
                <div class="info-line">
                    <div class="title">Minha experiência: {{guia.descricaoExperiencia}}</div>
                </div>
            </div>
        </div>
    </div>