@import "src/@fuse/scss/fuse";

#profile {
  background: linear-gradient(to right, rgba(23, 122, 139, 0.87) 20%, rgb(29, 190, 137) 100%);

  .header {
    position: relative;
    flex: 1 0 auto;
    height: 150px;
    max-height: 150px;
    text-align: center;
    overflow: hidden;
    text-decoration-color: azure;

    .profile-image {
      margin-right: 24px;

      @include media-breakpoint("sm") {
        margin: 0 0 16px 0;
      }
    }

    .name {
      font-size: 34px;
      color: #ffffff;

      @include media-breakpoint("sm") {
        margin-bottom: 32px;
      }
    }

    .actions {
      button {
        text-transform: none;
        padding: 0 16px;
        margin: 0 0 0 8px;
      }
    }
  }

  .content {
    flex: 1;
    mat-tab-group {
      height: 100%;

      .mat-tab-body-wrapper {
        flex-grow: 1;
      }
    }
  }
}
