<div id="profile" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>

    <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="fuse-white-fg">{{montanha.nome}}</h2>
    </div>

    <div class="center">

        <div class="content-card ">
                <mat-tab-group>
                    <mat-tab class="teal-fg" label="Sobre">
                        <div class="tab-content p-30" >
                            <sobre-montanha #sobre [id]="id" [montanha]="montanha"></sobre-montanha>
                        </div>
                    </mat-tab>

                    <mat-tab class="teal-fg" label="Localização">
                        <div class="tab-content p-30" >
                            <localizacao [id]="id" [montanha]="montanha"></localizacao>
                        </div>
                    </mat-tab>

                    <mat-tab class="teal-fg" label="Comentários">
                        <div class="tab-content p-30" >
                            <profile-timeline>
                            </profile-timeline>
                        </div>
                    </mat-tab>
                </mat-tab-group>
        </div>
    </div>
</div>