
<h1 mat-dialog-title>Anexe sua Imagem!</h1>
<div mat-dialog-content>Nesta aba você poderá anexar alguma imagem para seu perfil!</div>

  <input #profileImage matInput type="file"/>

<div fxLayout="row">
</div>

<div fxLayout="row" fxLayoutAlign="end center">
    <div>
        <button class="mr-8" mat-stroked-button  type="button" color="warn" (click)="fechar()">Fechar</button>
    </div>
     <button mat-flat-button  type="button" class="teal-300-bg fuse-white-fg" (click)="uploadImagem()">Salvar</button>
 </div>