@import "src/@fuse/scss/fuse";

#usuario-meu-perfil {

    .header {
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        background: linear-gradient(to right, rgba(0, 114, 76, 0.74) 50%, rgba(56, 182, 134, 0.699) 100%);
        background-size: cover;

        .root-perfil-image {
            position: relative;
            display: flex; 
            justify-content: center; 
            align-items: center;

            &:hover .edit-perfil-image {
                opacity: 1;
                cursor: pointer;
            }

            .edit-perfil-image {
                background-color: rgba(0,0,0, .6);
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 120ms linear;

                .icon-edit:before {
                    color: #f1f1f1;
                    font-size: 48px;
                }
            }
        }

        .perfil-image {
            margin-right: 0px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
            margin-left: 16px;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}
