<div id="usuario-meu-perfil" class="page-layout simple tabbed">
        <!-- HEADER -->
        <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="space-between end">
                 <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                 fxLayoutAlign.gt-sm="start center">
                 <span class="root-perfil-image">
                         <img class="perfil-image avatar huge" src={{urlImagem}}
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                     <span class="edit-perfil-image" (click)="openInsertImageDialog()">
                         <span class="icon-edit material-icons" style="position: absolute;"></span>
                     </span>
                 </span>
                    <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        {{usuario.userName}} {{usuario.sobrenome}}
                    </div>
                </div>
                <div>
                    <div class="" fusePerfectScrollbar [@animate]="{value:'*',params:{y:'50px'}}">
                        <div class="px-10 pt-10 pb-10">
                            <button mat-raised-button class="mat-teal compose-dialog-button w-100-p" aria-label="Compose" *ngIf="usuario.guia == null" [routerLink]="'/autenticacao/registro-guia'">
                                Você tem experiencia com montanhas ? Se torne um guia!
                            </button>
                        </div>
                    </div>
                </div>
        </div>
        <!-- / HEADER -->
    
        <!-- CONTENT -->
        <div class="content">
            <mat-tab-group dynamicHeight="true">
                <mat-tab label="Informações">
                    <usuario-informacoes
                        [usuario]="usuario"
                    ></usuario-informacoes>
                </mat-tab>
                <mat-tab label="Alterar suas Informações">
                    <usuario-alterar></usuario-alterar>
                </mat-tab>
                <mat-tab label="Alterar suas Informações de guia" *ngIf="usuario.guia">
                    <usuario-guia-alterar></usuario-guia-alterar>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- / CONTENT -->
    </div>