@import "src/@fuse/scss/fuse";

profile-timeline {
  max-width: 1200px;
  #contact {
    .timeline-content {
      .add-post {
        margin-bottom: 0;
        border-radius: 4px;
        overflow: hidden;
        @include mat-elevation(2);

        textarea {
          display: flex;
          flex: 1 0 auto;
          font-size: 13px;
          width: 100%;
          height: 140px;
          border: none;
          padding: 16px;
          resize: vertical;
        }

        footer {
          padding: 8px 12px 8px 8px;
          border-top: 1px solid;
        }
      }

      mat-divider {
        border-top-width: 1px;
        border-top-style: solid;
        margin: 32px 0;
      }

      .timeline-item {
        margin-bottom: 32px;
        overflow: hidden;
        border-radius: 4px;
        @include mat-elevation(2);

        &:last-child {
          margin-bottom: 0;
        }

        header {
          padding: 16px 0 8px 16px;

          .title {
            font-weight: 600;

            .username {
              margin-right: 2px;
            }
          }
        }

        .content {
          .message {
            padding: 16px;
          }

          .media {
            padding: 16px;

            img,
            iframe {
              width: 100%;
            }

            a {
              color: inherit;
            }
          }

          .like-button,
          .share-button {
            padding: 4px 6px;
            text-transform: inherit;
            font-size: 13px;
            font-weight: normal;
            margin: 0 0 16px 8px;
            min-width: inherit;
            line-height: inherit;

            &:hover {
              background-color: transparent;
            }

            mat-icon {
              margin: 0 8px 0 0;
            }
          }

          .article {
            border: 1px solid;
            margin: 16px;

            .media {
              padding: 0;
              overflow: hidden;
              border-bottom: 1px solid;

              img {
                display: block;
                padding: 0;
              }
            }

            .title {
              font-size: 15px;
              padding: 16px 16px 4px 16px;
            }

            .subtitle {
              padding: 0 16px;
            }

            .excerpt {
              padding: 16px 16px;
            }
          }
        }

        footer {
          padding: 16px;

          .comment-count {
            margin-bottom: 16px;
            cursor: pointer;

            mat-icon {
              margin-left: 8px;
            }
          }

          .comment {
            margin-bottom: 24px !important;

            .username {
              font-weight: 600;
              margin-right: 4px;
            }

            .actions {
              margin-top: 8px;

              .reply-button {
                margin-right: 16px;
                cursor: pointer;
              }

              .report-button {
                margin: 0;
                cursor: pointer;
              }
            }
          }

          .reply {
            form {
              textarea {
                width: 100% !important;
                min-height: 72px;
                padding: 8px;
                margin-bottom: 8px;
                font-size: 13px;
                border: 1px solid;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }

    .timeline-sidebar {
      padding-left: 32px;

      @include media-breakpoint("lt-md") {
        padding: 32px 0 0 0;
      }

      .latest-activity {
        .content {
          .activities {
            .activity {
              padding: 16px 0;

              .avatar {
                margin-right: 16px;
              }

              .username {
                font-weight: 600;
              }

              .message {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  // Profile boxes
  .profile-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
      padding: 16px;

      .title {
        font-size: 17px;
      }

      .more {
        cursor: pointer;
      }
    }

    .content {
      padding: 16px;
    }

    footer {
      padding: 8px;
      border-top: 1px solid;
    }

    &.info-box {
      .info-line {
        margin-bottom: 24px;

        .title {
          font-size: 15px;
          font-weight: 600;
          padding-bottom: 4px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .timeline {
    position: relative;
    margin: 10px;
    padding: 20px 0 20px;
    list-style: none;
  }

  .timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: teal;
  }

  .timeline > li {
    position: relative;
    margin-bottom: 20px;
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 0 1px 6px #d4d4d4;
    background-color: rgb(255, 255, 255);
  }

  .timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #d4d4d4;

    border-bottom: 15px solid transparent;
    border-left: 15px solid #d4d4d4;
  }

  .timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
  }

  .timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 80px;
    border-radius: 49px;
    height: 80px;
    margin-left: -40px;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    border: 2px solid teal;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }

  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }

  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }

  .timeline-badge.primary {
    border: 1px solid teal;
    border-radius: 2px;
  }

  .timeline-badge.success {
    border: 1px solid teal;
    border-radius: 2px;
  }

  .timeline-badge.warning {
    border: 1px solid teal;
    border-radius: 2px;
  }

  .timeline-badge.danger {
    border: 1px solid teal;
    border-radius: 2px;
  }

  .timeline-badge.info {
    border: 1px solid teal;
    border-radius: 2px;
  }

  .timeline-title {
    margin-top: 0;
    color: inherit;
  }

  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }

  .timeline-body > p + p {
    margin-top: 5px;
  }

  @media (max-width: 767px) {
    ul.timeline:before {
      left: 40px;
    }

    ul.timeline > li > .timeline-panel {
      width: calc(100% - 90px);
      width: -moz-calc(100% - 90px);
      width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
      top: 16px;
      left: 15px;
      margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
      float: right;
    }

    ul.timeline > li > .timeline-panel:before {
      right: auto;
      left: -15px;
      border-right-width: 15px;
      border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
      right: auto;
      left: -14px;
      border-right-width: 14px;
      border-left-width: 0;
    }
  }

  .circle {
    border-radius: 50px;
    width: 76px;
    height: 76px;
  }
}
