<div class="contact-content p-24 " fxLayout="column" >
    <div class="mat-card">
        <div class="p-16">
            <div class="h1 teal-fg">Comentários sobre a montanha</div>
        </div>
        <div id="contact">
            <div id="timeline" class="p-24">
                <div class="timeline-content">
                    <div class="mat-card">
                        <div class="profile-box add-post">
                            <div class="form h3" fxFlex>
                                <textarea placeholder="Escreva sobre sua experiencia nesta montanha"
                                    [(ngModel)]="comentario.comentarioTexto"></textarea>
                                <footer fxLayout="row" fxLayoutAlign="end center">
                                    <button mat-flat-button class="post-button teal-bg fuse-white-fg "
                                        (click)="inserirComentario()">Comentar</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="timeline">
            <li *ngFor="let comentario of comentarios; let i=index" [className]="i % 2 == 1 ? 'timeline-inverted' : ''">
                <div class="timeline-badge">
                    <img class="circle" src="{{baseUrl}}/usuario/obterimagemusuario?id={{comentario.usuario.id}}" *ngIf="comentario.usuario.imagemHash">
                    <img class="circle" src="/assets/images/avatars/profile.jpg" *ngIf="!comentario.usuario.imagemHash">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <div class="timeline-title">{{comentario.usuario.userName}}</div>
                        <small class="text-muted">{{comentario.dataComentario | date: 'mediumTime'}}</small>
                    </div>
                    <div class="timeline-body">
                        <p>{{comentario.comentarioTexto}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>