<div id="contact" class="p-24" fxLayout="row wrap">
    <div class="contact-content" fxLayout="column" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="100">
        <div class="profile-box info-box general" fxLayout="column">

            <header class="primary">
                <div class="title">Alterar Cadastro de Guia</div>
            </header>

            <mat-horizontal-stepper [linear]="true">
                <mat-step [stepControl]="alterarUsuarioGuiaFormEtapa1">
                    <form name="alterarUsuarioGuiaFormEtapa1" fxLayout="column" [formGroup]="alterarUsuarioGuiaFormEtapa1">
                        <ng-template matStepLabel>Digite suas informações</ng-template>
                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Sua Descrição</mat-label>
                                <input matInput #descricaoGuia value="" formControlName="descricaoGuia" required>
                                <mat-error>Descrição é necessario!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Sua Ocupação</mat-label>
                                <input matInput #ocupacao value="" formControlName="ocupacao" required>
                                <mat-error>Ocupação é necessario!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Sua Experiencia</mat-label>
                                <input matInput #descricaoExperiencia value="" formControlName="descricaoExperiencia" required>
                                <mat-error>Experiencia é necessario!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button matStepperNext type="button" class="teal-300-bg fuse-white-fg">
                                Próximo
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="alterarUsuarioGuiaFormEtapa2">
                    <form name="alterarUsuarioGuiaFormEtapa2" fxLayout="column" [formGroup]="alterarUsuarioGuiaFormEtapa2">
                        <ng-template matStepLabel>Contato</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Código Postal</mat-label>
                                <input matInput #codigoPostal value="" formControlName="codigoPostal" mask="00000-009" required>
                                <mat-error>Código Postal é necessario!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Seu Telefone</mat-label>
                                <input matInput #telefone value="" formControlName="telefone" mask="(00) 0000-0009" required>
                                <mat-error>Telefone é necessario!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Seu Instagram</mat-label>
                                <input matInput #instagram value="" formControlName="instagram" required>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-stroked-button matStepperPrevious type="button" color="warn">
                                Voltar
                            </button>
                            <button mat-flat-button matStepperNext type="button" class="teal-300-bg fuse-white-fg">
                                Proximo
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Concluir</ng-template>

                    <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                        Ao clicar em Finalizar , você irá salvar as alterações do seu cadastro
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-stroked-button matStepperPrevious type="button" color="warn">
                            Voltar
                        </button>
                        <button mat-flat-button type="button" class="teal-300-bg fuse-white-fg"
                            (click)="salvarAlteracao()">
                            Finalizar
                        </button>
                    </div>
                    
                </mat-step>
            </mat-horizontal-stepper>
            <!-- / HORIZONTAL STEPPER EXAMPLE -->
        </div>
    </div>
</div>