<mat-toolbar class="p-0 mat-elevation-z1">

    <div class="" fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <button mat-button [matMenuTriggerFor]="userMenu"
                        class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar mr-0 mr-sm-16" src="{{urlImagem}}">
                        <span class="username mr-12" fxHide fxShow.gt-sm>{{usuario.userName}} {{usuario.sobrenome}}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item [routerLink]="'/usuario/meu-perfil'">
                    <mat-icon>account_circle</mat-icon>
                    <span>Meu Perfil</span>                   
                </button>
                
                <button mat-menu-item class="" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Sair</span>
                </button>

            </mat-menu>            
        </div>

    </div>

</mat-toolbar>
