<div id="academy-courses" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">nature_people</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                Busca de Montanhas
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                Nesta aba você poderá buscar uma aventura que se encaixa com seus desejos
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
                fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" floatLabel="always" class="course-search">
                    <mat-label>Buscar</mat-label>
                    <input type="text" matInput placeholder="Procure pelo nome " [(ngModel)]="busca"
                        (keydown)="obterTodosFiltro()">
                </mat-form-field>

                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>Categorias</mat-label>
                    <mat-select [(ngModel)]="idCategoria" (selectionChange)="obterTodosFiltro()">
                        <mat-option [value]="-1">
                            Todos
                        </mat-option>
                        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                            {{ categoria.nome }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" *ngFor="let montanha of montanhas" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
                    [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
                        <div class="header2" fxLayout="row" fxLayoutAlign="center center">

                            <div class="category" fxFlex>
                                {{montanha.nome}}
                            </div>
                            <!-- <div class="length" fxLayout="row"
                                *ngFor="let montanhaCategoria of montanha.montanhasCategoria"
                                fxLayoutAlign="center center">
                                <mat-icon class="  length-icon s-20">nature_people</mat-icon>
                                <div class="min ">{{montanhaCategoria.categoria.nome}}</div>
                            </div> -->
                        </div>

                        <img style="height: 250px; width: 600px;" src="{{baseUrl}}/imagemmontanha/obterimagem?montanhaId={{montanha.id}}">

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button color="fuse-white--fg"
                                [routerLink]="'/montanha/perfil-montanha/' + montanha.id">
                                Acessar
                            </button>
                        </div>

                    </div>
                </div>
                <div class="no-courses" *ngIf="!montanhas">
                    Sem montanhas com estás características
                </div>

            </div>

        </div>

    </div>

</div>