<div id="contact" class="p-24" fxLayout="row wrap">
    <div class="contact-content" fxLayout="column" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="100">
        <div class="profile-box info-box general" fxLayout="column">

            <header class="primary">
                <div class="title">Alterar Cadastro</div>
            </header>

            <mat-horizontal-stepper [linear]="true">
                <mat-step [stepControl]="alterarUsuarioFormEtapa1">
                    <form name="alterarUsuarioFormEtapa1" fxLayout="column" [formGroup]="alterarUsuarioFormEtapa1">
                        <ng-template matStepLabel>Digite seu Nome</ng-template>
                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Primeiro Nome</mat-label>
                                <input matInput #username value="" formControlName="username" required>
                                <mat-error>Primeiro nome é necessario!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Sobre Nome</mat-label>
                                <input matInput #sobrenome value="" formControlName="sobrenome" required>
                                <mat-error>Sobre Nome é necessario!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button matStepperNext type="button" class="teal-300-bg fuse-white-fg">
                                Próximo
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="alterarUsuarioFormEtapa2">

                    <form name="alterarUsuarioFormEtapa2" fxLayout="column" [formGroup]="alterarUsuarioFormEtapa2">

                        <ng-template matStepLabel>Digite seu email</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" required />
                                <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                                <mat-error>Email é necessario</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-stroked-button matStepperPrevious type="button" color="warn">
                                Voltar
                            </button>
                            <button mat-flat-button matStepperNext type="button" class="teal-300-bg fuse-white-fg">
                                Proximo
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="alterarUsuarioFormEtapa3">

                    <form name="alterarUsuarioFormEtapa3" fxLayout="column" [formGroup]="alterarUsuarioFormEtapa3">

                        <ng-template matStepLabel>Informações Adicionais</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>CPF</mat-label>
                                <input matInput formControlName="cpf" mask="000.000.000-09">
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <input matInput [matDatepicker]="dataNascimento" [max]="maxDate" maxlength="8"
                                    placeholder="Data Nascimento" formControlName="dataNascimento">
                                <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
                                <mat-datepicker #dataNascimento></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-stroked-button matStepperPrevious type="button" color="warn">
                                Voltar
                            </button>
                            <button mat-flat-button matStepperNext type="button" class="teal-300-bg fuse-white-fg">
                                Proximo
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Concluir</ng-template>

                    <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                        Ao clicar em Finalizar , você irá salvar as alterações do seu cadastro
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-stroked-button matStepperPrevious type="button" color="warn">
                            Voltar
                        </button>
                        <button mat-flat-button type="button" class="teal-300-bg fuse-white-fg"
                            (click)="salvarAlteracao()">
                            Finalizar
                        </button>
                    </div>
                    
                </mat-step>
            </mat-horizontal-stepper>
            <!-- / HORIZONTAL STEPPER EXAMPLE -->
        </div>
    </div>
</div>