<div id="contact" class="p-24" fxLayout="row wrap">
    <div class="contact-content" fxLayout="column" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="100">
        <div class="profile-box info-box general" fxLayout="column">

            <header class="primary">
                <div class="title">Seu Cadastro</div>
            </header>
            <div class="content">
                <div class="info-line">
                    <div class="title">Nome: {{usuario.userName}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Sobrenome: {{usuario.sobrenome}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Email: {{usuario.email}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Cpf: {{usuario.cpf | mask: '000.000.000-09'}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Data Nascimento: {{ dataNascimentoUsuario }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="p-24" fxLayout="row wrap" *ngIf="usuario.guia">
    <div class="contact-content" fxLayout="column" fxFlex="50" fxFlex.gt-sm="500">
        <div class="profile-box info-box contact" fxLayout="column">

            <header class="primary">
                <div class="title">Informações Gerais</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Sobre mim: {{usuario.guia.descricaoGuia}}</div>
                </div>
            </div>

            <div class="content">
                <div class="info-line">
                    <div class="title">Ocupação: {{usuario.guia.ocupacao}} </div>
                </div>
            </div>

            <div class="content">
                <div class="info-line">
                    <div class="title">Minha experiência: {{usuario.guia.descricaoExperiencia}}</div>
                </div>
            </div>

            <div class="content">
                <div class="info-line">
                    <div class="title">Codigo Postal: {{usuario.guia.codigoPostal | mask: '00000-009'}}</div>
                </div>
            </div>

            <div class="content">
                <div class="info-line">
                    <div class="title">Telefone: {{usuario.guia.telefone | mask: '(00) 0000-0009'}}</div>
                </div>
            </div>

            <div class="content">
                <div class="info-line">
                    <div class="title">Instagram: {{usuario.guia.instagram}}</div>
                </div>
            </div>
        </div>
    </div>
