<div id="mail-confirm" fxLayout="column">

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="mat-primary s-96">email</mat-icon>
            </div>

            <div class="title">Confirme seu Email!</div>

            <div class="subtitle">
                <p>
                   O email de verificação foi enviado para seu Email!
                </p>
                <p>
                    Verifique sua caixa de entrada e clique no botão "Confirmar email" para poder ter acesso ao nosso site! 
                </p>
            </div>

            <div class="message">
                <a class="link mat-primary" [routerLink]="'/autenticacao/login'">Voltar para a pagina de login.</a>
            </div>

        </div>

    </div>

</div>
