@import "src/@fuse/scss/fuse";

mail-confirm {

    #mail-confirm {
        width: 100%;
        background: url('/assets/images/backgrounds/background.png') no-repeat;
        background-size: cover;

        #mail-confirm-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #mail-confirm-form {
                max-width: 480px;
                padding: 48px;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    margin: 0 auto 32px auto;
                }

                .title {
                    font-size: 20px;
                    margin-top: 16px;
                }

                .subtitle {
                    margin: 16px auto;
                    max-width: 300px;
                    font-size: 15px;
                }

                .message {
                    font-weight: 600;
                    text-align: center;
                    margin-top: 40px;
                }
            }
        }
    }
}