<div class="page-layout carded left-sidebar ">

    <!-- TOP BACKGROUND -->
    <div class="top-bg header "></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="carded-left-sidebar-1" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR HEADER -->
        <!-- / SIDEBAR HEADER -->
        <div class=" p-24">
            <h1 class="m-40 fuse-white-fg">Buscar
                Guias</h1>
        </div>

        <!-- SIDEBAR CONTENT -->
        <div class="content m-12">
            <guia-sidebar (respostaFamilia)="reciverFeedback($event)"></guia-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class=" p-24">
            <h2 class="m-0 fuse-white-fg">Nesta aba você pode pesquisar e achar um guia para te auxiliar nas suas
                aventuras</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-30 py-8">

                <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="" fxFlex>

                    <div class="search-wrapper mt-16 mt-sm-0">

                        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>search</mat-icon>
                            <input placeholder="Procure aqui" [(ngModel)]="busca" (keydown)="obterTodos()">
                        </div>

                    </div>

                </div>

            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <table mat-table [dataSource]="guias" class="mat-elevation-z">

                <ng-container matColumnDef="foto">
                    <th mat-header-cell *matHeaderCellDef>Foto </th>
                    <td mat-cell *matCellDef="let guia">
                        <img class="circle" src="{{baseUrl}}/usuario/obterimagemusuario?id={{guia.usuario.id}}" *ngIf="guia.usuario.imagemHash">
                        <img class="circle" src="/assets/images/avatars/profile.jpg" *ngIf="!guia.usuario.imagemHash">
                    </td>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCellDef="let guia"> {{guia.usuario.userName}} {{guia.usuario.sobrenome}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="telefone">
                    <th mat-header-cell *matHeaderCellDef>Telefone </th>
                    <td mat-cell *matCellDef="let guia"> {{guia.telefone | mask: '(00) 0000-0009'}} </td>
                </ng-container>

                <ng-container matColumnDef="instagram">
                    <th mat-header-cell *matHeaderCellDef>Instagram</th>
                    <td mat-cell *matCellDef="let guia"> {{guia.instagram}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let guia;"
                    routerLink="/guia/perfil-guia/{{guia.id}}" class="cursor"></tr>
            </table>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>