<div  class="guia-sidebar">
  <mat-list>
    <h4 matSubheader>Filtros</h4>

    <mat-list-item>
      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <select matNativeControl (change)="feedback()" [(ngModel)]="idCidade">
            <option [value]="0">Todos</option>
            <option *ngFor="let cidade of cidades" value="{{cidade.id}}">{{cidade.nome}}</option>          
        </select>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
     
      <mat-form-field>
        <mat-label>Montanha</mat-label>
        <select matNativeControl (change)="feedback()" [(ngModel)]="idMontanha">
          <option [value]="0">Todos</option>
          <option *ngFor="let montanha of montanhas" value="{{montanha.id}}">{{montanha.nome}}</option>
          
        </select>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
</div>