<div id="contact" class="p-24" fxLayout="row wrap">
    <div class="contact-content" fxLayout="column" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="100">
        <div class="profile-box info-box contact" fxLayout="column">

            <header class="primary">
                <div class="title">Contato</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Telefone: {{guia.telefone | mask: '(00) 0000-0009'}}</div>
                    <!-- <div class="info" *ngFor="let tel of about.contact.tel"> -->
                    <!-- <span>{{tel}}</span> -->
                    <!-- </div> -->
                </div>
                <div class="info-line">
                    <div class="title">Instagram: {{guia.instagram}}</div>
                    <!-- <div class="info" *ngFor="let website of about.contact.websites">
                        <span>{{website}}</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>