<li >
    <div class="timeline-badge"></div>
    <div class="timeline-panel">
        <div class="timeline-heading" >
            <div class="timeline-title">{{comentario.usuario.userName}} Comentou Sobre {{comentario.montanha.nome}} 
                    <small class="text-muted">{{comentario.dataComentario | date: 'mediumTime'}}</small>
            </div>
        </div>
        <div class="timeline-body">
            <p>{{comentario.comentarioTexto}}</p>
        </div>
    </div>
</li>