<div id="registro-guia " fxLayout="mat-card">

    <div class="content header2 p-24">

        <p class="h2" style="color: white">
            Aqui você pode se cadastrar como guia e ajudar outras pessoas
            que querem iniciar nesse mundo de montanhismo e trilhas, se
            você conhece montanhas, morros, trilas e estiver disposto a ter
            novas experiencias guiando e liderando as pessoas a conhecerem
            mais a natureza e as belezas de Santa Catarina, contribuindo com
            o crescimento e conscientização com o meio ambiente.
        </p>

        <div class="mb-24 " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">


            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33">
                        <mat-label>Cidade</mat-label>
                        <mat-select formControlName="idCidade" [(ngModel)]="idCidade"
                            (selectionChange)="obterTodasCidades()">
                            <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">
                                {{cidade.nome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="34" class="px-8">
                        <mat-label>Código postal</mat-label>
                        <input matInput #codigoPostal value="" formControlName="codigoPostal" mask="00000-009"
                            required />
                        <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                        <mat-hint align="end">{{ codigoPostal.value.length }} / 8</mat-hint>
                        <mat-error>Código postal é necessário!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="33">
                        <mat-label>Ocupação</mat-label>
                        <input matInput #cpf value="" formControlName="ocupacao" required />
                        <mat-icon matSuffix class="secondary-text">featured_play_list</mat-icon>
                        <mat-error>Ocupação é necessária!</mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>Montanha em que atua</mat-label>
                    <mat-select formControlName="idMontanha" [(ngModel)]="idMontanha"
                        (selectionChange)="obterTodasMontanhas()">
                        <mat-option *ngFor="let montanha of montanhas" [value]="montanha.id">
                            {{montanha.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Descreva sobre sua experiencia</mat-label>
                        <textarea matInput formControlName="descricaoExperiencia" required></textarea>
                        <mat-error>É necessario!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Descreva sobre você</mat-label>
                        <textarea matInput formControlName="descricaoGuia" required></textarea>
                        <mat-error>É necessário!</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Telefone</mat-label>
                        <input matInput #telefone value="" formControlName="telefone" mask="(00) 0000-0009" required />
                        <mat-icon matSuffix class="secondary-text">call</mat-icon>
                        <mat-hint align="end">{{ telefone.value.length }} / 11</mat-hint>
                        <mat-error>Número de telefone é necessário!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                        <mat-label>Instagram</mat-label>
                        <input matInput #postalCode value="@" formControlName="instagram" />
                        <mat-icon matSuffix class="secondary-text">thumb_up_alt</mat-icon>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="temCertificado">Tem Certificados ?
                        </mat-checkbox>
                    </section>
                    <section class="example-margin" *ngIf="form.controls.temCertificado.value == true">
                        <input #certificado type="file" />
                    </section>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button class="teal-900-bg fuse-white-fg" fxFlex="25" (click)="cadastrarGuia()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>