@import "src/@fuse/scss/fuse";

#profile {
  .header {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    background: linear-gradient(to right, rgba(0, 114, 76, 0.74) 50%, rgba(56, 182, 134, 0.699) 100%);

    .profile-image {
      margin-right: 24px;

      @include media-breakpoint("sm") {
        margin: 0 0 16px 0;
      }
    }

    .name {
      font-size: 34px;
      color: #ffffff;

      @include media-breakpoint("sm") {
        margin-bottom: 32px;
      }
    }

    .actions {
      button {
        text-transform: none;
        padding: 0 16px;
        margin: 0 0 0 8px;
      }
    }
  }

  .content {
    flex: 1;

    mat-tab-group {
      height: 100%;

      .mat-tab-body-wrapper {
        flex-grow: 1;
      }
    }
  }

  .circle {
    border-radius: 50px;
    width: 76px;
    height: 76px;
  }
}
