<div class="page-layout blank " fusePerfectScrollbar>

    <div id="profile" class="page-layout simple tabbed">

        <!-- HEADER -->
        <div class="header p-24 " fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between end">

            <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start center">
                <div>
                    <img class="perfil-image avatar huge"
                        src="{{baseUrl}}/usuario/obterimagemusuario?id={{guia.usuario.id}}"
                        *ngIf="guia.usuario.imagemHash">
                    <img class="perfil-image avatar huge" src="/assets/images/avatars/profile.jpg" *ngIf="!guia.usuario.imagemHash">
                </div>
                <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{guia.usuario.userName}} {{guia.usuario.sobrenome}}
                </div>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <mat-tab-group dynamicHeight="true">

                <mat-tab label="Sobre">
                    <profile-about [id]="id" [guia]="guia"></profile-about>
                </mat-tab>

                <mat-tab label="Contato">
                    <profile-contact [id]="id" [guia]="guia"></profile-contact>
                </mat-tab>

            </mat-tab-group>

        </div>
    </div>
</div>